pipeline/foldername_with_validdate.json
{
	"name": "foldername_with_validdate",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ds_blob_copy1",
						"type": "DatasetReference",
						"parameters": {
							"path": "files"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "declare @getmetadata varchar(max)\nset @getmetadata = '@{activity('Get Metadata1').output.childItems}'\n\nselect * from openjson(@getmetadata) with(Foldername varchar(50) '$.name')\nwhere isdate(Foldername) = 1",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable1",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"not empty": {
				"type": "Array"
			},
			"empty": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-07T13:30:53Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}